body {
    font-size: 2ecm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10em 2.5em 10em 2.5em;
}

form {
    padding: 2em;
    border: 1px dashed black;
}

button {
    padding: 1em;
    color: white;
    background-color: black;
    border-radius: 1em;;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: silver;
}

.button {
    padding: 1em;
}

textarea {
    width: 50%;
    display: flex;
    margin: auto;
    border: 1px dashed black;
}

h1 {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

p {
    padding-top: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
    font-style: oblique;
    color:darkslategrey;
}

a:hover {
    color: darkslateblue;
}

#daily_take {
    margin-top: 8em;
    border-style: dashed;
    border-radius: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 2.5em;
}

.take {
    border-style: dashed;
    border-radius: 1em;
    margin: .75em;
    overflow: auto;
    overflow-wrap: unset;
}

.take #message p {
    margin-top: 25;
    padding-bottom: 0;
    margin-bottom: 0;
    font-style: italic;
    text-decoration: underline;
}

.take #author p {
    padding: 0;
    margin: 5;
    font-style: italic;
}

.take #date {
    padding: .5em;
    margin: 0;
    font-size: .8em
}

#required {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

#required input {
    border: 1px dashed black;
    border-color: red;;
    display: flex;
    margin: auto;
    width: 60%;    
}

#agree {
    padding: 1.75em;
}

#footnote {
    padding: 24em 0 0 0;
}

#extras {
    padding: 1.75em;
    font-size: 75%;
    display: flex;
    gap: 3em;
    justify-content: center;
}

#extras label {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Hamburger Button */

#nav-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-right: 25px;
    justify-self: center;
    padding: 2.5em;
}

.hamburger span {
    display:block;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
}

/* HMB BTN: when checkbox is closed */
/* --- Rotate top line down */
#nav-toggle:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(9.5px) rotate(45deg);
}

/* --- Hide the middle line */
#nav-toggle:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
}

/* --- Rotate the bottom line up */
#nav-toggle:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-9.5px) rotate(-45deg);
}



/* MEDIA --- Mobile check */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    nav {
        display: none;
    }
    
    input:checked ~ nav {
        display: block;
        transition: transform .75s ease, opacity 0.75 ease;
    }
}

/* --- */